//npm.pkg.github.com/:_authToken=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
@zero-studios:registry=https://npm.pkg.github.com
//npm.greensock.com/:_authToken=c0a22005-bb3e-4ace-a685-7e609ec5b1c4
@gsap:registry=https://npm.greensock.com